<div class="banner_part">
    <div class="center_div">
        <div class="banner_text_part">
            <div class="banner_text1">World photoshout 2014</div>
            <div class="banner_text2">כל הזוכים בתחרות הצילום העולמית 2014</div>
            <div class="banner_dots">
                <ul>
                    <li class="current"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="cache_form3"></div>
            </div>
        </div>
    </div>
</div>
