<div id="copyright_bottom">
    <div class="copyright_bottom_left">
        <a target="_blank" href="http://www.uco.co.il" title="בניית אתרים">
            <img style="height: 16px;" src="@Url.Content("~/Content/DesignFiles/Credits/uco.gif")" alt="בניית אתרים"/></a>
        <a target="_blank" href="http://www.uco.co.il">בניית אתרים</a>
        <a target="_parent" href="@Url.Content("~/admin")"><img src="@Url.Content("~/Content/DesignFiles/System/page_gear.png")" alt="כניסה למערכת ניהול"/></a>
    </div>
    <div class="clear"></div>
</div>