<div class="head_srch_part">
    @using (Html.BeginForm("Search", "Idive"))
{
    <input type="text" name="key" id="key" class="single-line">
            <input type="image" src="~/Content/DesignFiles/Idive/srch_icon1.png" width="11" height="11" alt="Search" class="search_icon">
}
    <div class="clear"></div>
</div>
