@{
    ViewBag.Title = "הזמנות ביטוח שלא בוצע תשלום";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}

<h2>הזמנות ביטוח שלא בוצע תשלום</h2>

@(Html.Kendo().Grid<Uco.Models.TravelInsurance>()
    .Name("Grid")
    .DataSource(dataSource =>
        dataSource.Ajax()
            .Model(model => { model.Id(item => item.ID); })
                            .Sort(sort => sort.Add("SubmitDate").Descending())
                                .Read(r => r.Action("_AjaxIndex", "InsuranceNotPayed"))
                                .Destroy(r => r.Action("_AjaxDelete", "InsuranceNotPayed"))
                                         .PageSize(20)
    )
    .Columns(columns =>
    {
        columns.Bound(r => r.ID).Width(20);
        columns.Bound(r => r.SumForPay).Title("תשלום");
        columns.Bound(r => r.InsuranceTypeName).Title("ש. ביטוח");
        columns.Bound(r => r.IdNumber).Title("ת.ז");
        columns.Bound(r => r.UserFname).Width(20).Title("ש.פ");
        columns.Bound(r => r.UserLname).Width(20).Title("ש.מ");
        columns.Bound(r => r.Phone).Title("טל'");
        columns.Bound(r => r.Mail).Title("דואל");
        columns.Bound(r => r.PayError).Width(20).Title("סיבת אי התשלום");
        columns.Bound(r => r.SubmitDate).Format("{0:dd/MM/yyyy}").Title("ת.הזמנה");
        columns.Bound(r => r.InsuranceDate).Format("{0:dd/MM/yyyy}").Title("ת.ת ביטוח");
        columns.Bound(r => r.InsuranceDateEnd).Format("{0:dd/MM/yyyy}").Title("ס. ביטוח");

        columns.Template(r => r.ID).ClientTemplate(
        "<a class='k-button open_insurance_send_popup' target='_blank' href='" + Url.Action("Index", "InsuranceSendEmail") + "?id=#= ID #'" + ">" + "שלח" + "</a>"
        ).Width(100);
        
        columns.Template(r => r.ID).ClientTemplate(
         "<a class='k-button' target='_blank' href='" + Url.Action("PaymentSuccess", "Insurance", new { Area = "" }) + "?OrderID=#= ID #&IdNumber=#=IdNumber#&birthyear=#=YearBirth#'" + ">" + "לתשלום" + "</a>"
        ).Width(100);
        
        columns.Template(r => r.ID).ClientTemplate(
            "<a class='k-button' href='" + Url.Action("Edit", "InsuranceNotPayed") + "?ID=#= ID #'" + ">" + Html.R("Edit") + "</a>"
        ).Width(100);
     
        columns.Command(commands =>
        {
            commands.Destroy();
        }).Width(100);
    })
    .Pageable()
    .Sortable()
    .Filterable()
    .Groupable()
)
<br />
@Html.ActionLink(Html.R("Create"), "Create", null, new { @class = "k-button" })
