@{
    ViewBag.Title = RP.T("Admin.HomeBanners.Title");
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}
<h2>@RP.T("Admin.HomeBanners.Title")</h2>
@(Html.Kendo().Grid<Uco.Models.HomeBanner>()
    .Name("Grid")
    .DataSource(dataSource =>
        dataSource.Ajax()
            .Model(model => { model.Id(item => item.ID); })
            .Read(r => r.Action("_AjaxIndex", "HomeBanner"))
            .Destroy(r => r.Action("_AjaxDelete", "HomeBanner"))
    )
    .Columns(columns =>
    {
        columns.Bound(r => r.Title);
        columns.Template(r => r.ID).ClientTemplate(
            "<a class='k-button' href='" + Url.Action("Edit", "HomeBanner") + "?ID=#= ID #'" + ">Edit</a>"
        ).Width(100);
        columns.Command(commands =>
        {
            commands.Destroy();
        }).Width(100);
    })
    .Pageable()
    .Sortable()
    .Filterable()
    .Groupable()
)

<br />
@Html.ActionLink(RP.T("Crate"), "Create", "HomeBanner", null, new { @class = "k-button k-state-default" })


