<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="Db" connectionString="Server=serverip,49355;Database=db;User Id=dbuser;Password=password;Trusted_Connection=False;Persist Security Info=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DbMigrations" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DbDataLoss" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" xdt:Transform="Replace" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" xdt:Transform="Insert" />
    <modules runAllManagedModulesForAllRequests="false" xdt:Transform="Insert" />
    <directoryBrowse enabled="false" xdt:Transform="Insert" />
    <defaultDocument xdt:Transform="Insert">
      <files>
        <clear />
      </files>
    </defaultDocument>
    <httpErrors existingResponse="Replace" xdt:Transform="Insert">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="/Error/Error404" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" subStatusCode="-1" prefixLanguageFilePath="" path="/Error.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Redirect to www subdomain" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
    <staticContent xdt:Transform="Insert">
      <clientCache cacheControlCustom="private" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" xdt:Transform="Insert" />
  </system.webServer>
  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp from="noreply@e-publish.co.il">
        <network defaultCredentials="true" enableSsl="false" host="127.0.0.1" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
