@{
    ViewBag.Title = Html.R("Title");
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}

<h2>@Html.R("Title")</h2>

@(Html.Kendo().Grid<Uco.Models.Error>()
        .Name("Grid")
        .DataSource(dataSource => dataSource.Ajax()
            .Model(model => { model.Id(item => item.ID); })
            .Read(r => r.Action("_AjaxIndex", "Errors"))
            .Destroy(r => r.Action("_AjaxDelete", "Errors"))
        )
        .Columns(columns =>
        {
            columns.Bound(r => r.Date).Width(200);
            columns.Bound(r => r.Message);
            columns.Template(r => r.ID).ClientTemplate(
                "<a class='k-button' href='" + Url.Action("Details", "Errors") + "?ID=#= ID #'" + ">" + Html.R("Details") + "</a>"
            ).Width(100);
            columns.Command(commands =>
            {
                commands.Destroy();
            }).Width(100);
        })
        .Pageable()
        .Sortable()
        .Filterable()
        .Groupable()
        .ToolBar(commands => commands.Custom().Text(@Html.R("ExportToCSV")).Action("CSVExport", "Errors"))
        .ToolBar(commands => commands.Custom().Text(@Html.R("DeleteAll")).Action("DeleteAll", "Errors"))
)

