@model Uco.Models.SiteMapPage
@{
    Layout = ViewBag.Layout;
}
<div id="content">
    <h1>@ViewBag.H1</h1>
    <div class="editor_html">
        @Html.Raw(Model.Text)
    </div>
    @Html.Raw(ViewBag.SiteMapData)
</div>
