@{
    ViewBag.Title = RP.T("Views.PagePart._NewsBox.More");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="brdcms">
    <ul>
        <li><a href="/">@RP.T("MainPageText")</a></li>
        <li>@RP.T("Views.Account.ChangePasswordSuccess.Title")</li>
    </ul>
    <div class="clear"></div>
</div>

<div class="page_main_heading"><h2>@RP.T("Views.Account.ChangePasswordSuccess.Title")</h2></div>

<div class="votes_text1">
    @RP.T("Views.Account.ChangePasswordSuccess.Text")
</div>
