@model Uco.Models.AbstractPage
@{
    Layout = "~/Areas/Admin/Views/Shared/_ActionLayout.cshtml";
}
<div class="action_wrap">
    <h3>@Html.R("ToDelete")</h3>
    @Html.R("Title"): @ViewBag.Title
    @using (Html.BeginForm())
    {
        <div class="button_div">
            <input type="submit" value="@Html.R("Delete")" class="k-button" />
        </div>
    }
</div>