@{
    ViewBag.Title = RP.T("Admin.Banners.Title");
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}
<h2>@RP.T("Admin.Banners.Title")</h2>
@(Html.Kendo().Grid<Uco.Models.Banner>()
    .Name("Grid")
    .DataSource(dataSource =>
        dataSource.Ajax()
            .Model(model => { model.Id(item => item.ID); })
            .Read(r => r.Action("_AjaxIndex", "Banner"))
            .Destroy(r => r.Action("_AjaxDelete", "Banner"))
            .PageSize(50)
    )
    .Columns(columns =>
    {
        columns.Bound(r => r.Title);
        columns.Bound(r => r.BannerGroup);
        columns.Bound(r => r.Visible).ClientTemplate(
           "#= (Visible) ? 'מוצג' : 'לא מוצג' #"
        ).Width(100);
        columns.Template(r => r.ID).ClientTemplate(
            "<a class='k-button' href='" + Url.Action("Edit", "Banner") + "?ID=#= ID #'" + ">Edit</a>"
        ).Width(100);
        columns.Command(commands =>
        {
            commands.Destroy();
        }).Width(100);
    })
    .Pageable()
    .Sortable()
    .Filterable()
    .Groupable()
)

<br />
@Html.ActionLink(RP.T("Crate"), "Create", "Banner", null, new { @class = "k-button k-state-default" })


