@{
    ViewBag.Title = Html.R("Title");
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}

<h2>@Html.R("Title")</h2>

@(Html.Kendo().Grid<Uco.Models.Contact>()
        .Name("Grid")
        .DataSource(dataSource =>  dataSource.Ajax()
            .Model(model => { model.Id(item => item.ID); })
            .Read(r => r.Action("_AjaxIndex", "Contact"))
            .Sort(sort =>
            {
                sort.Add(r => r.ContactDate).Descending();
            })
            .Destroy(r => r.Action("_AjaxDelete", "Contact"))
                 .PageSize(20)
        )
        .Columns(columns =>
        {
            columns.Bound(r => r.ContactDate).Format("{0:dd/MM/yyyy}").Width(200);
            columns.Bound(r => r.ContactName);
            columns.Bound(r => r.ContactEmail);
            columns.Bound(r => r.ContactPhone);
            columns.Bound(r => r.ContactData);
            columns.Bound(r => r.RoleDefault);
            columns.Bound(r => r.Rool);
            columns.Template(r => r.ID).ClientTemplate("#= ContactUrl #");
            columns.Template(r => r.ID).ClientTemplate(
                "<a class='k-button' href='" + Url.Action("Details", "Contact") + "?ID=#= ID #'" + ">" + Html.R("Details") + "</a>"
            ).Width(100);
            columns.Command(commands =>
            {
                commands.Destroy();
            }).Width(100);
        })
        .Pageable()
        .Sortable(sortable => sortable
            .AllowUnsort(true)
            .SortMode(GridSortMode.MultipleColumn))
        .Filterable()
        .Groupable()
        .ToolBar(commands => commands.Custom().Text(@Html.R("ExportToCSV")).Action("CSVExport", "Contact"))
)