@model Uco.Models.Settings

@{
    ViewBag.Title = "Settings";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}

<h2>@Html.R("Settings")</h2>
@using Kendo.Mvc.UI;
@using Kendo.Mvc;
@using Uco.Infrastructure;


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
    <p>
        <input type="submit" class="k-button" value="@Html.R("Save")" />
    </p>
}